<footer class="footer text-center">
  <div class="bottom-row" style="width: 100%;">
    <a class="bottom-item link" href="<%=theme.index_page%>">首页</a> | 

    <% if(theme.juejin) { %>
      <a class="bottom-item link" href="<%=theme.juejin%>" target="_blank">掘金</a> | 
    <% } %> 
    
    <% if(theme.zhihu) { %>
      <a class="bottom-item link" href="<%=theme.zhihu%>" target="_blank">知乎</a> |
    <% } %>
    
    <% if (theme.weibo) { %>
      <a class="bottom-item link" href="<%=theme.weibo%>" target="_blank">微博</a> | 
    <% } %>

    <% if (theme.github) { %>
      <a class="bottom-item link" href="<%=theme.github%>" target="_blank">GitHub</a>
    <% } %> 
  </div>

  <div class="bottom-row">
    <% if (theme.site_total_count) { %> 
      <a class="bottom-item">全站总字数 <span class="total_count"><%= totalcount(site) %></span></a>
    <% } %> 
    <% if (theme.site_start_time) { %> 
      <a class="bottom-item">已运行 <span><%= siteTime(theme.site_start_time) %> </span></a>
    <% } %> 
    <a class="bottom-item">本站总访问量 <span id="busuanzi_value_site_pv"></span> 次</a>
    <a class="bottom-item">您是第 <span id="busuanzi_value_site_uv"></span> 个小伙伴</a>
  </div>

  <div class="bottom-row">
    <a class="bottom-item link" href="https://hexo.io" target="_blank">Powered By Hexo</a>
    <a class="bottom-item link" href="https://github.com/lion1ou/hexo-theme-sprite" target="_blank">Theme By Sprite</a>
    <a class="bottom-item link" href="https://blog.lion1ou.tech">© 2016-<%= new Date().getFullYear() %>  lion1ou 版权所有</a>
    <a class="bottom-item link" href="https://beian.miit.gov.cn" target="_blank">浙ICP备2021029843号</a>
  </div>
</footer>

